{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}"> 
</head>
<body>

  <h2>Login</h2>
  {% if messages %}
    {% for message in messages%}
      {% if message.tags == 'error' %}
        <center><h3 style="color: red;">{{message}}</h4></center>
      {% else %}
        <center><h3 style="color: blue;">{{message}}</h4></center>
      {% endif %}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
  </form>

  <center><p>Don’t have an account? <a href="{% url 'register'%}">Register</a></p></center>

</body>
</html>

