<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Todo App</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <!-- Custom CSS -->
   {%load static%}
  <link rel="stylesheet" href={% static 'css/home.css'%}>
</head>
<body>

  <!-- ===== Header ===== -->
  <header class="header-bar">
    <div class="header-left">
      <h1 class="app-title">Todo App</h1>
    </div>
    <div class="header-right">
      <span class="username">Welcome,{{request.user.get_full_name}}</span>
      <a href="{% url 'logout' %}"><button class="btn btn-danger logout-btn">Logout</button></a>
    </div>
  </header>

  <hr>

  <!-- ===== Main Content ===== -->
  <div class="todo-container">
    <!-- Create Task -->
    <section>
      <h3>Create Task</h3>

      {% if messages %}
          {% for message in messages%}
              {% if message.tags == 'error' %}
                <center><h3 style="color: red;">{{message}}</h4></center>
              {% else %}
                <center><h3 style="color: blue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <input type="text" id="task-title" name="task-title" class="form-control" placeholder="Title" required>
        <input type="text" id="task-desc" name="task-desc" class="form-control" placeholder="Description">
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </section>

    <hr>

    <!-- Active Tasks -->
    <section>
      <h3>Active Tasks</h3>
      <ul id="active-tasks" class="list-group">
        <li class="list-group-item text-muted">No active tasks yet.</li>
      </ul>
    </section>

    <hr>

    <!-- Completed Tasks -->
    <section>
      <h3>Past Tasks (Completed)</h3>
      <ul id="completed-tasks" class="list-group">
        <li class="list-group-item text-muted">No completed tasks yet.</li>
      </ul>
    </section>

    <hr>

  
</body>
</html>
